<!-- Please build the search page here. -->
<div class="search">
  <h1>Search Gems</h1>
  <form>
    <input type="text" placeholder="Search">
    <%= image_tag("magnifying-glass.png") %>
  </form>
</div>
