<div class="search">
  <h1>Search Gems</h1>
  <form action="<%= gems_url %>" method="get">
    <input id="search_term" type="text" name="gem[search_term]" placeholder="Search" value="">
    <button>
      <%= image_tag("magnifying-glass.png") %>
    </button>
  </form>
</div>
