$(document).ready(function () {
  const $favorites = $('#favorites-list')
  let storage = getLocalStorage();
  const toggle = $favorites.length > 0 ? setFavoritesStarToggle : setSearchStarToggle;

  if ($favorites.length > 0) {
    loadFavorites($favorites, storage);
    favoritesPageSelected();
  } else {
    searchPageSelected();
  }
  swapStars(storage);
  toggle();
});

const loadFavorites = ($listContainer, storage) => {
  if (storage.length === 0) {
    $listContainer.append("<li>None</li>")
  } else {
    for(let i = 0; i < storage.length; i++) {
      const gem = storage[i];
      const button = returnButton(gem);
      const link = "<a href=\"https://rubygems.org/gems/" + gem +"\">" + gem + "</a>"
      const element = "<li>" + button + link + "</li>"
    $listContainer.append(element);
    }
  }
}

const swapStars = (storage) => {
  let starButtons = $(".toggle")

  for(let i = 0; i < starButtons.length; i++) {
    const $button = $(starButtons[i]);
    let gem = $button.attr('id');
    if (storage.includes(gem)) {
      $($button.children()).attr("src", '<%= asset_path("star-blue.png") %>');
    };
  };
}

const setSearchStarToggle = () => {
  $(".toggle").click(function(e) {
    let storage = getLocalStorage();
    const $image = $(e.target);
    const gem = $image.parent().attr('id');
    if (storage.includes(gem)) {
      setGrayStar(gem, storage, $image);
    } else {
      setBlueStar(gem, storage, $image);
    }
  });
}

const setFavoritesStarToggle = () => {
  $(".toggle").click(function(e) {
    let storage = getLocalStorage();
    const $favorites = $('#favorites-list')
    const $image = $(e.target);
    const gem = $image.parent().attr('id');
    const $itemToRemove = $image.parent().parent()
    $itemToRemove.remove()
    setLocalStorage(newStorage(gem, storage))
    addNoneToFavorites(storage.length - 1, $favorites)
  })
}

const getLocalStorage = () => {
  return JSON.parse(localStorage.getItem("favorites")) || [];
}

const setLocalStorage = (array) => {
  localStorage.setItem("favorites", JSON.stringify(array));
}

const returnButton = (gem) => {
    return '<button id=\"' + gem + '\" class="toggle">' + '<%= image_tag("star-gray.png") %>' + '</button>'
}

const favoritesPageSelected = () => {
  $("#favorites-link").addClass("current-page");
  $("#search-link").removeClass("current-page");
}

const searchPageSelected = () => {
  $("#favorites-link").removeClass("current-page");
  $("#search-link").addClass("current-page");
}

const setGrayStar = (gem, storage, $image) => {
  setLocalStorage(newStorage(gem, storage));
  $image.attr("src", '<%= asset_path("star-gray.png") %>')
}

const setBlueStar = (gem, storage, $image) => {
  storage.push(gem)
  setLocalStorage(storage);
  $image.attr("src", '<%= asset_path("star-blue.png") %>')
}

const newStorage = (gem, storage) => {
  let index = storage.indexOf(gem)
  return storage.slice(0, index).concat(storage.slice(index + 1))
}

const addNoneToFavorites = (storage, $favorites) => {
  if (storage === 0) {
    $favorites.append("<li>None</li>")
  }

}
