body {
  display: flex;
}

.image-container {
  position: relative;
  width: 30%;
}

.image-container > img:first-child {
  height: 100%;
  max-width: 100%;
}

.image-container > div {
  position: absolute;
  top: 0px;
  right: 0px;
}

.image-container div img {
  margin: 50px 50px 0px 0px;
}

.links {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}

.links a {
  padding: 11px 55px 11px 11px;
  color: white;
}

/*.links a:hover {
  background: rgba(227, 227, 227, 0.13);
}*/

.search, .favorites {
  margin-left: 100px;
}

.current-page {
  background: rgba(227, 227, 227, 0.13);
}
