.favorites {
  margin-top: 195px;
  width: 70%;
}

.favorites h1 {
  margin-bottom: 77px;
}

.favorites ul {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
}

.favorites li {
  color: 	#C0C0C0;
  width: 225px;
  margin-right: 100px;
}

.favorites a {
  margin-left: 10px;
}
