.favorites {
  margin-top: 195px;
}

.favorites h1 {
  margin-bottom: 77px;
}

.favorites ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
}

.favorites li {
  color: 	#C0C0C0;
  margin-right: 230px;
}

.favorites a {
  margin-left: 10px;
}
