.gem-details {
  margin: 45px 0 0 140px;
  width: 700px;
}

.gem-details h3 {
  font-size: 16px;
  margin: 35px 0 20px 0;
}

.gem-details p {
  color: 	#C0C0C0;
}

.gem ul {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  height: 370px;
}

.gem li {
  margin-bottom: 20px;
}

.gem a {
  color: 	#1E90FF;
}

.gem-details a {
  margin-right: 10px;
}

.gem a:hover {
  text-decoration: underline;
  color: 	#0080FF;
}
