.gem-details {
  margin: 45px 0 0 140px;
  width: 700px;
}

.gem-details h3 {
  font-size: 16px;
}

.gem-details p {
  color: 	#C0C0C0;
}

.gem li {
  margin-bottom: 30px;
}

.gem a {
  color: 	#1E90FF;
}

.gem-details a {
  margin-right: 10px;
}

.gem a:hover {
  text-decoration: underline;
  color: 	#0080FF;
}

.gem-details h3 {
  margin: 35px 0 10px 0;
}
