@media (max-width: 1120px) {
  body {
    display: block;
  }

  .image-container {
    background-image: none;
    background: green;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 50px;
  }

  .image-container img {
    margin: 0 14px 0 0;
  }

  .links {
    flex-direction: row;
  }

  .search, .gem-details-container {
    margin: auto;
    width: 500px;
  }

  .gem-details {
    margin-left: 40px;
    width: 420px;
  }

  .search h1 {
    margin-top: 195px;
  }

  .search form {
    width: 100%;
  }
}

@media (max-width: 550px) {
  body {
    /*background: red;*/
  }

  .search, .gem-details-container {
    width: 400px;
  }

  .gem-details {
    width: 320px;
  }

  .search input {
    width: 92%;
  }
}

@media (max-width: 440px) {
  body {
    /*background: blue;*/
  }

  .search, .gem-details-container {
    margin: auto;
    width: 350px;
  }

  .gem-details {
    margin-left: 40px;
    width: 270px;
  }

  .search input {
    width: 91%;
  }

}
