.search {
  /*display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 41%;*/
  width: 780px;
  margin-top: 210px;
}

.search h1 {
  margin: 0px 0px 45px 40px;
}

.search form {
  border: 1px solid grey;
  padding: 28px 24px;
  border-radius: 40px;
  width: 750px;
}

.search input {
  width: 94%;
}

.search button {
  margin-left: 2px;
}

  /*.search button img {
    height: auto;
    width: 17px;
  }*/

input:focus, button:focus {
   outline: none;
}

.error form {
  border: 1px solid red;
}

.error h2 {
  color: red;
  font-size: 22px;
  text-align: center;
  margin-top: 22px;
}

.error input {
  color: red;
}

.error button {
  color: red;
}

.error img {
  filter: contrast(80%) sepia(100%) hue-rotate(315deg) brightness(71%) saturate(600);
}
